## Chicago Data Sampling

In [39]:
import matplotlib.pyplot as plt
import pandas as pd
import polars as pl
# import geopandas as gpd
# import glob
# import boto3
import numpy as np
# import os
# from io import StringIO
import gc

from meteostat import Hourly, Stations, Point
from datetime import datetime, timedelta

In [ ]:
df1 = pd.read_csv('combined_data_2023_05.csv')
df2 = pd.read_csv('combined_data_2023_06.csv')
df3 = pd.read_csv('combined_data_2023_07.csv')
df4 = pd.read_csv('combined_data_2023_08.csv')
df5 = pd.read_csv('combined_data_2023_09.csv')
df6 = pd.read_csv('combined_data_2023_10.csv')
df7 = pd.read_csv('combined_data_2023_11.csv')
df8 = pd.read_csv('combined_data_2023_12.csv')
df9 = pd.read_csv('combined_data_2024_01.csv')
df10 = pd.read_csv('combined_data_2024_02.csv')
df11 = pd.read_csv('combined_data_2024_03.csv')
df12 = pd.read_csv('combined_data_2024_04.csv')

In [6]:
gc.collect()

0

In [10]:
def reduce_size(df):
    '''
    Reduce pandas dataframe memory usage by optimising datatypes
    '''
    mem_before_reduction = df.memory_usage().sum()/1024**2
    print(f'Memory usage before optimising datatypes: {mem_before_reduction:.0f} MB')

    for col in df.columns:

        if str(df[col].dtype)[:3] == 'int':
            min_val = df[col].min()
            max_val = df[col].max()
            
            if min_val > np.iinfo(np.int8).min and max_val < np.iinfo(np.int8).max:
                df[col] = df[col].astype(np.int8)
            elif min_val > np.iinfo(np.int16).min and max_val < np.iinfo(np.int16).max:
                df[col] = df[col].astype(np.int16)
            elif min_val > np.iinfo(np.int32).min and max_val < np.iinfo(np.int32).max:
                df[col] = df[col].astype(np.int32)
            elif min_val > np.iinfo(np.int64).min and max_val < np.iinfo(np.int64).max:
                df[col] = df[col].astype(np.int64)
        elif str(df[col].dtype)[:5] == 'float':
            min_val = df[col].min()
            max_val = df[col].max()
            
            if min_val > np.finfo(np.float16).min and max_val < np.finfo(np.float16).max:
                df[col] = df[col].astype(np.float16)
            elif min_val > np.finfo(np.float32).min and max_val < np.finfo(np.float32).max:
                df[col] = df[col].astype(np.float32)
            else:
                df[col] = df[col].astype(np.float64)
    
    
    mem_after_reduction = df.memory_usage().sum()/1024**2
    print(f'Memory usage after optimising datatyes: {mem_after_reduction:.0f} MB')
    return df

In [11]:
reduce_size(df1)
reduce_size(df2)
reduce_size(df3)
reduce_size(df4)
reduce_size(df5)
reduce_size(df6)
reduce_size(df7)
reduce_size(df8)
reduce_size(df9)
reduce_size(df10)
reduce_size(df11)
reduce_size(df12)

Memory usage before optimising datatypes: 1186 MB
Memory usage after optimising datatyes: 526 MB
Memory usage before optimising datatypes: 1184 MB
Memory usage after optimising datatyes: 525 MB
Memory usage before optimising datatypes: 1208 MB
Memory usage after optimising datatyes: 550 MB
Memory usage before optimising datatypes: 1212 MB
Memory usage after optimising datatyes: 538 MB
Memory usage before optimising datatypes: 1210 MB
Memory usage after optimising datatyes: 551 MB
Memory usage before optimising datatypes: 1282 MB
Memory usage after optimising datatyes: 569 MB
Memory usage before optimising datatypes: 1189 MB
Memory usage after optimising datatyes: 541 MB
Memory usage before optimising datatypes: 1264 MB
Memory usage after optimising datatyes: 575 MB
Memory usage before optimising datatypes: 1199 MB
Memory usage after optimising datatyes: 546 MB
Memory usage before optimising datatypes: 1204 MB
Memory usage after optimising datatyes: 548 MB
Memory usage before optimising datatypes: 1353 MB
Memory usage after optimising datatyes: 601 MB
Memory usage before optimising datatypes: 1251 MB
Memory usage after optimising datatyes: 555 MB

,trip_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,percent_time_chicago,percent_distance_chicago,pickup_census_tract,dropoff_census_tract,pickup_community_area,...,trip_total,shared_trip_authorized,shared_trip_match,trips_pooled,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location
0,0009afd3724da60cd49549f9dc56888251b75660,2024-04-01T00:00:00.000,2024-04-01T00:15:00.000,239.0,1.106445,0.991699,0.975586,NaN,NaN,24.0,...,8.007812,False,False,1,41.90625,-87.6875,POINT (-87.6763559892 41.9012069941),41.90625,-87.6875,POINT (-87.6763559892 41.9012069941)
1,000ed319d6cab8a7f3e108953c170841ec55ed6a,2024-04-01T00:00:00.000,2024-04-01T00:00:00.000,310.0,2.970703,1.000000,1.000000,1.703198e+10,1.703177e+10,76.0,...,16.234375,False,False,1,41.96875,-87.8750,POINT (-87.9030396611 41.9790708201),41.96875,-87.8750,POINT (-87.8773053996 41.9827750091)
2,007b21e5cc9636775ec28fc3a98e0aa24ab7a6d2,2024-04-01T00:00:00.000,2024-04-01T00:15:00.000,205.0,0.629883,1.000000,1.000000,1.703141e+10,1.703141e+10,41.0,...,8.726562,False,False,1,41.81250,-87.6250,POINT (-87.5989445134 41.7979711911),41.81250,-87.6250,POINT (-87.6037457654 41.7978270187)
3,00858e69b1832ac03cdf726f98d130f798465216,2024-04-01T00:00:00.000,2024-04-01T00:30:00.000,1753.0,16.968750,0.999512,1.000000,1.703198e+10,1.703106e+10,56.0,...,46.156250,False,False,1,41.78125,-87.7500,POINT (-87.7509342894 41.785998518),41.93750,-87.6250,POINT (-87.6470785093 41.942577185)
4,00e5425778c5593fecc8f98732f1272e8d25cd97,2024-04-01T00:00:00.000,2024-04-01T00:00:00.000,283.0,0.896484,0.996582,1.000000,NaN,NaN,21.0,...,5.648438,False,False,1,41.93750,-87.6875,POINT (-87.7112105933 41.9386661962),41.93750,-87.6875,POINT (-87.7112105933 41.9386661962)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7371558,585712699dd227df3a372f8c3c10f63114fc64b5,2024-04-30T23:45:00.000,2024-05-01T00:00:00.000,389.0,2.886719,0.997559,0.990723,NaN,NaN,24.0,...,9.546875,True,True,1,41.90625,-87.6875,POINT (-87.6763559892 41.9012069941),41.87500,-87.6250,POINT (-87.6251921424 41.8788655841)
7371559,682a8e5123f46aec0cfee72f74e2410b37dad73c,2024-04-30T23:45:00.000,2024-05-01T00:00:00.000,421.0,3.802734,0.997559,1.000000,NaN,NaN,28.0,...,8.820312,True,True,1,41.87500,-87.6875,POINT (-87.6635175498 41.874005383),41.87500,-87.6875,POINT (-87.7058971305 41.8789144956)
7371560,74a555c3a2b633a9489d186be52ed48613bf1ca3,2024-04-30T23:45:00.000,2024-05-01T00:00:00.000,1209.0,6.007812,1.000000,1.000000,NaN,NaN,24.0,...,14.437500,True,True,1,41.90625,-87.6875,POINT (-87.6763559892 41.9012069941),41.84375,-87.6875,POINT (-87.714003807 41.8390869059)
7371561,ad85a57270230d35db989ca9bf88fd559a8e9e02,2024-04-30T23:45:00.000,2024-05-01T00:00:00.000,724.0,5.082031,0.978027,0.896973,NaN,NaN,26.0,...,9.460938,True,True,1,41.87500,-87.7500,POINT (-87.7302324284 41.8785943576),41.87500,-87.6875,POINT (-87.6635175498 41.874005383)
7371562,d5b8e66017760fa11df3cb49f1fc3e3f83ba0920,2024-04-30T23:45:00.000,2024-04-30T23:45:00.000,504.0,2.365234,0.998047,1.000000,NaN,NaN,28.0,...,7.390625,True,True,2,41.87500,-87.6875,POINT (-87.6635175498 41.874005383),41.87500,-87.6875,POINT (-87.7172201 41.8601900192)

In [12]:
gc.collect()

562

In [13]:
# Merging all DataFrames

df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)

del df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12

In [ ]:
# df.to_csv('merged_chicago_df.csv')

In [14]:
df.memory_usage().sum()/1024**2

7039.268929481506

In [15]:
df = df.drop(['pickup_centroid_latitude','pickup_centroid_longitude','dropoff_centroid_latitude','dropoff_centroid_longitude'],axis=1)

In [16]:
df.memory_usage().sum()/1024**2

6376.749512672424

In [17]:
df['Serial_ID'] = range(1, len(df) + 1)

df = df.drop('trip_id',axis=1)

In [18]:
reduce_size(df)

Memory usage before optimising datatypes: 6377 MB
Memory usage after optimising datatyes: 5714 MB

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,percent_time_chicago,percent_distance_chicago,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tip,additional_charges,trip_total,shared_trip_authorized,shared_trip_match,trips_pooled,pickup_centroid_location,dropoff_centroid_location,Serial_ID
0,2023-05-01T00:00:00.000,2023-05-01T00:15:00.000,1687.0,16.515625,1.000977,1.000000,1.703198e+10,1.703181e+10,76.0,NaN,35.0,0.0,7.128906,42.125000,False,False,1,POINT (-87.9030396611 41.9790708201),NaN,1
1,2023-05-01T00:00:00.000,2023-05-01T00:45:00.000,2534.0,15.492188,1.000000,1.000000,NaN,NaN,7.0,43.0,20.0,0.0,1.230469,21.234375,False,False,1,POINT (-87.6494887289 41.9226862843),POINT (-87.5727819867 41.7615779081),2
2,2023-05-01T00:00:00.000,2023-05-01T00:15:00.000,1512.0,21.015625,0.487549,0.462158,NaN,NaN,38.0,NaN,22.5,0.0,7.570312,30.062500,False,False,1,POINT (-87.6178596758 41.8129489392),NaN,3
3,2023-05-01T00:00:00.000,2023-05-01T00:00:00.000,310.0,1.519531,0.996582,1.000000,1.703184e+10,1.703183e+10,32.0,28.0,5.0,0.0,2.519531,7.519531,False,False,1,POINT (-87.6327464887 41.8809944707),POINT (-87.657005027 41.8790669938),4
4,2023-05-01T00:00:00.000,2023-05-01T00:15:00.000,815.0,8.187500,1.000000,1.000000,NaN,NaN,8.0,11.0,15.0,0.0,1.230469,16.234375,False,False,1,POINT (-87.6333080367 41.899602111),POINT (-87.771166703 41.9788295262),5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86837740,2024-04-30T23:45:00.000,2024-05-01T00:00:00.000,389.0,2.886719,0.997559,0.990723,NaN,NaN,24.0,32.0,7.5,1.0,1.049805,9.546875,True,True,1,POINT (-87.6763559892 41.9012069941),POINT (-87.6251921424 41.8788655841),86837741
86837741,2024-04-30T23:45:00.000,2024-05-01T00:00:00.000,421.0,3.802734,0.997559,1.000000,NaN,NaN,28.0,27.0,7.5,0.0,1.320312,8.820312,True,True,1,POINT (-87.6635175498 41.874005383),POINT (-87.7058971305 41.8789144956),86837742
86837742,2024-04-30T23:45:00.000,2024-05-01T00:00:00.000,1209.0,6.007812,1.000000,1.000000,NaN,NaN,24.0,30.0,10.0,3.0,1.440430,14.437500,True,True,1,POINT (-87.6763559892 41.9012069941),POINT (-87.714003807 41.8390869059),86837743
86837743,2024-04-30T23:45:00.000,2024-05-01T00:00:00.000,724.0,5.082031,0.978027,0.896973,NaN,NaN,26.0,28.0,7.5,0.0,1.959961,9.460938,True,True,1,POINT (-87.7302324284 41.8785943576),POINT (-87.6635175498 41.874005383),86837744
86837744,2024-04-30T23:45:00.000,2024-04-30T23:45:00.000,504.0,2.365234,0.998047,1.000000,NaN,NaN,28.0,29.0,5.0,0.0,2.390625,7.390625,True,True,2,POINT (-87.6635175498 41.874005383),POINT (-87.7172201 41.8601900192),86837745

In [19]:
gc.collect()

0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86837745 entries, 0 to 86837744
Data columns (total 20 columns):
 #   Column                     Dtype
---  ------                     -----
 0   trip_start_timestamp       object
 1   trip_end_timestamp         object
 2   trip_seconds               float32
 3   trip_miles                 float16
 4   percent_time_chicago       float16
 5   percent_distance_chicago   float16
 6   pickup_census_tract        float32
 7   dropoff_census_tract       float32
 8   pickup_community_area      float16
 9   dropoff_community_area     float16
 10  fare                       float16
 11  tip                        float16
 12  additional_charges         float16
 13  trip_total                 float16
 14  shared_trip_authorized     bool
 15  shared_trip_match          bool
 16  trips_pooled               int8
 17  pickup_centroid_location   object
 18  dropoff_centroid_location  object
 19  Serial_ID                  int32
dtypes: bool(2), float16(9), float32(3), int32(1), int8(1), object(4)
memory usage: 5.6+ GB

In [21]:
df['year_month'] = pd.to_datetime(df['trip_start_timestamp']).dt.to_period('M').astype(str)

In [22]:
gc.collect()

0

In [23]:
df.memory_usage().sum()/1024**2

6376.749512672424

In [24]:
df = df.groupby('year_month',group_keys=False).apply(lambda x:x.sample(frac=0.1))

In [25]:
len(df), df.head()

(8683775,
             trip_start_timestamp       trip_end_timestamp  trip_seconds  \
 3855293  2023-05-18T11:45:00.000  2023-05-18T12:00:00.000         566.0
 1067545  2023-05-05T22:45:00.000  2023-05-05T23:15:00.000        1420.0
 1347755  2023-05-06T21:30:00.000  2023-05-06T21:45:00.000         461.0
 6059080  2023-05-27T16:15:00.000  2023-05-27T16:30:00.000        1455.0
 1173126  2023-05-06T10:15:00.000  2023-05-06T10:45:00.000        1238.0

          trip_miles  percent_time_chicago  percent_distance_chicago  \
 3855293    1.427734              0.996582                  1.000000
 1067545    7.050781              1.000000                  1.000000
 1347755    1.469727              1.000000                  1.000000
 6059080    5.210938              0.978027                  1.000000
 1173126   11.398438              0.998535                  0.996094

          pickup_census_tract  dropoff_census_tract  pickup_community_area  \
 3855293         1.703128e+10          1.703108e+10                   28.0
 1067545         1.703121e+10          1.703108e+10                   21.0
 1347755         1.703107e+10          1.703106e+10                    7.0
 6059080         1.703183e+10          1.703133e+10                    7.0
 1173126         1.703132e+10          1.703198e+10                   32.0

          dropoff_community_area  ...  tip  additional_charges  trip_total  \
 3855293                     8.0  ...  5.0            4.320312   16.812500
 1067545                     8.0  ...  0.0            1.230469   16.234375
 1347755                     6.0  ...  0.0            1.230469   16.234375
 6059080                    33.0  ...  0.0            3.490234   20.984375
 1173126                    56.0  ...  0.0           10.101562   42.593750

          shared_trip_authorized  shared_trip_match  trips_pooled  \
 3855293                   False              False             1
 1067545                   False              False             1
 1347755                   False              False             1
 6059080                   False              False             1
 1173126                   False              False             1

                      pickup_centroid_location  \
 3855293  POINT (-87.6428084655 41.8853000224)
 1067545  POINT (-87.7038545435 41.9357064711)
 1347755  POINT (-87.6462109769 41.9218549112)
 6059080  POINT (-87.6540070286 41.9147473049)
 1173126  POINT (-87.6221729369 41.8706073724)

                     dropoff_centroid_location Serial_ID  year_month
 3855293  POINT (-87.6262149064 41.8925077809)   3855294     2023-05
 1067545  POINT (-87.6378442095 41.8932163595)   1067546     2023-05
 1347755  POINT (-87.6385749205 41.9383912577)   1347756     2023-05
 6059080   POINT (-87.6173580061 41.859349715)   6059081     2023-05
 1173126   POINT (-87.7509342894 41.785998518)   1173127     2023-05

 [5 rows x 21 columns])

In [27]:
df = df.drop('year_month',axis=1)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8683775 entries, 3855293 to 86699914
Data columns (total 20 columns):
 #   Column                     Dtype
---  ------                     -----
 0   trip_start_timestamp       object
 1   trip_end_timestamp         object
 2   trip_seconds               float32
 3   trip_miles                 float16
 4   percent_time_chicago       float16
 5   percent_distance_chicago   float16
 6   pickup_census_tract        float32
 7   dropoff_census_tract       float32
 8   pickup_community_area      float16
 9   dropoff_community_area     float16
 10  fare                       float16
 11  tip                        float16
 12  additional_charges         float16
 13  trip_total                 float16
 14  shared_trip_authorized     bool
 15  shared_trip_match          bool
 16  trips_pooled               int8
 17  pickup_centroid_location   object
 18  dropoff_centroid_location  object
 19  Serial_ID                  int32
dtypes: bool(2), float16(9), float32(3), int32(1), int8(1), object(4)
memory usage: 637.7+ MB

In [26]:
gc.collect()

0

## Merging weather data

In [29]:
weather_data = pd.read_csv('chicago_weather_data_from_may_2023.csv')

In [31]:
weather_data.head()

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,station_id
0,2023-05-01 00:00:00,6.1,2.7,79.0,0.3,NaN,300.0,20.5,NaN,998.0,NaN,8.0,72534
1,2023-05-01 01:00:00,6.1,2.7,79.0,0.3,NaN,280.0,20.5,NaN,997.9,NaN,8.0,72534
2,2023-05-01 02:00:00,6.1,2.2,76.0,0.0,NaN,300.0,20.5,NaN,998.0,NaN,3.0,72534
3,2023-05-01 03:00:00,6.1,2.2,76.0,0.0,NaN,300.0,20.5,NaN,998.0,NaN,3.0,72534
4,2023-05-01 04:00:00,6.1,2.2,76.0,0.0,NaN,290.0,20.5,NaN,997.5,NaN,3.0,72534

### Extracting station_ids

In [32]:
df.memory_usage().sum()/1024**2

637.6749753952026

In [36]:
gc.collect()

940

In [34]:
reduce_size(df)

Memory usage before optimising datatypes: 638 MB
Memory usage after optimising datatyes: 621 MB

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,percent_time_chicago,percent_distance_chicago,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tip,additional_charges,trip_total,shared_trip_authorized,shared_trip_match,trips_pooled,pickup_centroid_location,dropoff_centroid_location,Serial_ID
3855293,2023-05-18T11:45:00.000,2023-05-18T12:00:00.000,566.0,1.427734,0.996582,1.000000,1.703128e+10,1.703108e+10,28.0,8.0,7.5,5.0,4.320312,16.812500,False,False,1,POINT (-87.6428084655 41.8853000224),POINT (-87.6262149064 41.8925077809),3855294
1067545,2023-05-05T22:45:00.000,2023-05-05T23:15:00.000,1420.0,7.050781,1.000000,1.000000,1.703121e+10,1.703108e+10,21.0,8.0,15.0,0.0,1.230469,16.234375,False,False,1,POINT (-87.7038545435 41.9357064711),POINT (-87.6378442095 41.8932163595),1067546
1347755,2023-05-06T21:30:00.000,2023-05-06T21:45:00.000,461.0,1.469727,1.000000,1.000000,1.703107e+10,1.703106e+10,7.0,6.0,15.0,0.0,1.230469,16.234375,False,False,1,POINT (-87.6462109769 41.9218549112),POINT (-87.6385749205 41.9383912577),1347756
6059080,2023-05-27T16:15:00.000,2023-05-27T16:30:00.000,1455.0,5.210938,0.978027,1.000000,1.703183e+10,1.703133e+10,7.0,33.0,17.5,0.0,3.490234,20.984375,False,False,1,POINT (-87.6540070286 41.9147473049),POINT (-87.6173580061 41.859349715),6059081
1173126,2023-05-06T10:15:00.000,2023-05-06T10:45:00.000,1238.0,11.398438,0.998535,0.996094,1.703132e+10,1.703198e+10,32.0,56.0,32.5,0.0,10.101562,42.593750,False,False,1,POINT (-87.6221729369 41.8706073724),POINT (-87.7509342894 41.785998518),1173127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84231699,2024-04-20T09:30:00.000,2024-04-20T10:00:00.000,1039.0,4.027344,0.999023,0.996094,1.703116e+10,1.703104e+10,16.0,4.0,12.5,0.0,3.070312,15.570312,False,False,1,POINT (-87.7128142315 41.9502120955),POINT (-87.681993542 41.9833308063),84231700
80137875,2024-04-03T23:45:00.000,2024-04-04T00:00:00.000,1421.0,14.156250,0.999512,0.997559,NaN,NaN,23.0,3.0,22.5,0.0,5.078125,27.578125,False,False,1,POINT (-87.7209182385 41.9000696026),POINT (-87.6558787862 41.96581197),80137876
81841588,2024-04-10T20:30:00.000,2024-04-10T20:45:00.000,1136.0,4.515625,1.000000,1.000000,1.703108e+10,1.703106e+10,8.0,6.0,15.0,0.0,4.289062,19.296875,False,False,1,POINT (-87.6378442095 41.8932163595),POINT (-87.640698076 41.9431550855),81841589
80633998,2024-04-05T21:00:00.000,2024-04-05T21:15:00.000,415.0,1.589844,1.000000,1.000000,1.703121e+10,1.703122e+10,21.0,22.0,7.5,5.0,1.230469,13.726562,False,False,1,POINT (-87.701330291 41.9428725376),POINT (-87.7123276017 41.9255672296),80633999
86699914,2024-04-30T11:00:00.000,2024-04-30T11:15:00.000,445.0,1.602539,0.997559,1.000000,NaN,NaN,63.0,58.0,5.0,0.0,1.740234,6.738281,False,False,1,POINT (-87.6964352325 41.795430631),POINT (-87.6988607973 41.8173662079),86699915

In [ ]:
# Strategies

## 1. Drop latitudes, longtidues and retain centroids
## 2. Keep timestamps as objects
## 3. Convert id from object to serial numbers

In [37]:
station_list = df[['pickup_centroid_location']].drop_duplicates()

station_list['longitude'] = station_list['pickup_centroid_location'].str.extract(r'POINT \((-?\d+\.\d+)')[0].astype(float)
station_list['latitude'] = station_list['pickup_centroid_location'].str.extract(r'(-?\d+\.\d+)\)$')[0].astype(float)

In [40]:
def get_nearest_station(lat, lon):
    location = Point(lat, lon)
    stations = Stations().nearby(lat, lon)
    station = stations.fetch(1)  # Fetch the nearest station
    return station.index[0] if not station.empty else '72530'

station_list['station_id'] = station_list.apply(lambda row: get_nearest_station(row['latitude'], row['longitude']), axis=1)

# Display the DataFrame with station IDs
station_list.head()

                     pickup_centroid_location  longitude   latitude station_id
3855293  POINT (-87.6428084655 41.8853000224) -87.642808  41.885300      KCGX0
1067545  POINT (-87.7038545435 41.9357064711) -87.703855  41.935706      KCGX0
1347755  POINT (-87.6462109769 41.9218549112) -87.646211  41.921855      KCGX0
6059080  POINT (-87.6540070286 41.9147473049) -87.654007  41.914747      KCGX0
1173126  POINT (-87.6221729369 41.8706073724) -87.622173  41.870607      KCGX0

In [41]:
list_of_stations = pd.DataFrame(list(set(station_list['station_id'])),columns=['station_id'])
station_list = station_list.drop(['longitude','latitude'], axis=1)
gc.collect()

985

In [42]:
df = df.merge(station_list,on='pickup_centroid_location', how='left')
df['station_id'] = df['station_id'].replace('KCGX0', '72530')

In [43]:
del station_list
gc.collect()

0

In [44]:
df.to_csv('sampled_chicago_data_without_weather')

In [45]:
df = df.merge(weather_data,on='station_id',how='left')
del weather_data

MemoryError: Unable to allocate 568. GiB for an array with shape (76278279600,) and data type int64

In [ ]:
df.to_csv('chicago_data_10_perc_sample.csv')

### Uploading merged file to S3 bucket

In [ ]:
# Save the merged DataFrame to a CSV file in memory (StringIO)
csv_buffer = StringIO()
merged_df.to_csv(csv_buffer, index=False)

# Upload the merged CSV file back to the S3 bucket
merged_file_key = 'your/csv/folder/path/merged_file.csv'
s3.put_object(Bucket=bucket_name, Key=merged_file_key, Body=csv_buffer.getvalue())

print(f'Merged CSV uploaded to s3://{bucket_name}/{merged_file_key}')